body {
    padding-top: 75px;
    height: 100vh;
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

html {
    height: 100vh;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.search-container {
    width: 490px;
    display: block;
    margin-left: 35%;
    min-width: 490px;
}

input#search-id {
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
    &:focus {
        border: 1px solid #008ABF;
        transition: 0.35s ease;
        color: #008ABF;
        &::-webkit-input-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }
        &::-moz-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }
        &:-ms-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }
    }
}

.search-icon {
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -62px;
    right: -45px;
    background: #f2f2f2
}

#books {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 6%;
    text-align: center;
    justify-items: center;
    padding-left: 15%;
    padding-right: 15%;
    background: #f2f2f2;
    min-width: 1410px;
}

#bok {
    padding-bottom: 50%;
    background: yellow;
    position: relative;
    margin-bottom: 20%;
    margin-right: 50%;
    margin-top: 10%;
}

#up {
    position: absolute;
    display: flex;
    top: -40px;
}

#book-info {
    padding-top: 80px;
    text-align: initial;
    padding-left: 5%;
    color: rgb(161, 161, 161);
    padding-right: 5px;
    text-overflow: ellipsis;
    height: 245px;
    overflow-y: scroll;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    box-shadow: grey 3px 5px 5px;
}

.row {
    margin-top: 40px;
    transform: translate(40px, 40px);
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #00B4CC;
}

.searchButton {
    width: 40px;
    height: 45px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}


/*Resize the wrap to see the search bar change!*/

.wrap {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}